.Form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 100%;
}

.Form-paper-heading {
  width: 95%;
  height: 10%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form-help {
  display: flex;
  justify-content: right;
  width: 100%;
}

.Form-help-icon {
  margin: 5px;
}

.Form-paper {
  width: 95%;
  height: 90%;
  margin: 0px 5px 5px 5px;
}

.Form-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Form-input {
  margin: 5px;
  width: 50%;
}

.Form-settings-date {
  width: 235px;
}

.Form-settings-date-button {
  width: 88%;
}

.Form-settings-accordion {
  margin: 10px 0px 10px 0px;
}

.Form-settings-accordion-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Form-settings-type {
  width: 46%;
}

.Form-settings-input {
  width: 46%;
}

.Form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form-upload {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.Form-date {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
