.Form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 100%;
  background-color: rgb(109, 109, 109);
}

.Form-paper-heading {
  width: 95%;
  height: 10%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form-help {
  display: flex;
  justify-content: right;
  width: 100%;
}

.Form-help-icon {
  margin: 5px;
}

.Form-paper {
  width: 95%;
  height: 90%;
  margin: 0px 5px 5px 5px;
}

.Form-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Form-input {
  margin: 5px;
  width: 50%;
}

.Form-settings-input {
  margin: 5px;
  width: 57%;
}

.Form-settings-accordion {
  margin: 30px;
}

.Form-settings-accordion-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
